.container {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}



img {
	width: 350px;
	height: 200px;
	margin: 10px;
	transition: all 1s linear;
}

img:hover {
	transform: scale(1.25,1.25);
}


h1 {
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid pink;
	border-right: 2px solid pink;
	text-align: center;
	width: 400px;
	box-shadow: 4px 4px 5px #888888;

}

footer {
	text-align: center;
	font-family: fantasy;
}

